.bundle
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
.env
/dump/
*.sublime-*
/public/assets/
/public/uploads/
/public/themes/
*.pem
*.csr
*.key
.ruby-version
*.dump
coverage/
*.yml.bak
.irb-save-history
/playground/
.env.*
doc/
.yardoc/

api-docs/.yardoc
api-docs/doc/
api-docs-v1/html/*.html
.idea/
.DS_Store
