<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello </h1>
    <p>
      Your reservation for <%= @reservation.room.name %> is successfully booked between <%= @reservation.start_date %> - <%= @reservation.end_date %>
    </p>
  </body>
</html>
